@model List<Doctor>

<h1>Doctores</h1>

<p>
    <a asp-controller="Doctores" asp-action="Create">
        Crear doctor
    </a>
</p>

<table class="table table-hover">
    <thead>
        <th>Apellido</th>
        <th>Especialidad</th>
        <th>Salario</th>
        <th>Hospital</th>
    </thead>
    <tbody>
        @foreach (Doctor doc in Model)
        {
            <tr>
                <td>@doc.Apellido</td>
                <td>@doc.Especialidad</td>
                <td>@doc.Salario</td>
                <td>@doc.IdHospital</td>
                <td>
                    <a asp-controller="Doctores"
                        asp-action="Delete"
                        asp-route-iddoctor="@doc.IdDoctor"
                        class="btn btn-danger">
                    Eliminar
                    </a>
                </td>
                <td>
                    <a asp-controller="Doctores"
                       asp-action="ModificarDoctor"
                       asp-route-iddoctor="@doc.IdDoctor"
                       class="btn btn-danger">
                        Modificar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
